@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 15 23 42;
}

html, body {
  height: 100%;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.container {
  @apply max-w-6xl mx-auto px-4;
}
